@charset "utf-8";
/* CSS Document */
html{height:100%; font-size:6.25%; }
ul,li,ol,h1,h2,h3,h4,h5,h6,p,input,dl,dt,dd,table,th,td,span,form,bdo,em,select,i,bdo,kbd{margin:0; padding:0; list-style:none;}img{border:none;}.clear{clear:both;}
.clear{clear:both;}

.all{
	margin-left: auto;
    margin-right: auto;
	width:98%;
  
}
input[type="button"]{
    -webkit-appearance: none;
    font-size:14px;

}

.ul1 {
 width:100%; 
 -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.ul1 li{
    overflow: hidden;
    margin:5px 0px; width:100%;
    margin-top:10px;
    height:45px;
    line-height:45px;
    border-bottom:1px #cdcdcd solid;
}
.ul1 li label{font-size:14rem;
   float:left; width:120px; color:#999;
   font-family:"微软雅黑";
}


.ul1 li span{
   float:left; width: calc(100% - 120px); color:#999;
   font-family:"微软雅黑";
}


.ul1 li.l_c label{font-size:14rem;
   float:left; width:150px; color:#999;
   font-family:"微软雅黑";
}
.ul1 li.l_c span{
   float:left; width: calc(100% - 150px); color:#999;
   font-family:"微软雅黑";
}
.text2{
   width: calc(100% - 215px);
	height:45px;
    line-height:45px;
	border:0px;
	font-family:"微软雅黑";
	color:#999;font-size:14rem;
    outline:none;
    background:#fff;
}
input[type='date'] {
	background:#fff url(xuanze.png) no-repeat right;
     background-size:16px auto;
     appearance:none;
	 -moz-appearance:none;
     -webkit-appearance:none;
 }
.text{
    width:100%;
	height:45px;
    line-height:45px;
	border:0px;
	font-family:"微软雅黑";
	color:#999;font-size:14rem;
    outline:none;
    background:#fff;
}
.select{
    width:100%;
	height:45px;
    line-height:45px;
	background:url(xuanze.png) no-repeat right;
    background-size:16px auto;
	border:0;
	appearance:none;
	-moz-appearance:none;
    -webkit-appearance:none;
	font-family:"微软雅黑";
	color:#999;
    outline:none;
     text-align:left;
     font-size:14rem;
}
.d_but {
   margin:20px 0px 10px 0px;
}

.btn2{
  width:50px;
	height:35px;
    line-height:35px;
	background:#2a89f3;
	border-radius:10px;
	border:0;
	color:#FFF;
	  outline:none;
   font-family:"微软雅黑";
}

.btn3{
  width:100%;
	height:45px;
    line-height:45px;
	background:#2a89f3;
	border-radius:10px;
	border:0;
	color:#FFF;
	outline:none;
   font-family:"微软雅黑";
}

.btn{
  width:100%;
	height:45px;
    line-height:45px;
	background:#2a89f3;
	border-radius:10px;
	border:0;
	color:#FFF;
	  outline:none;
   font-family:"微软雅黑";
}
.btn_qx {
    width: 40%;
    height: 45px;
    line-height: 45px;
    background: #f9f9f9;
    border-radius: 10px;
    border: 0;
    color: #000;
    font-family: "微软雅黑";
    margin-left: 40px;
     outline:none;
    border: 1px #999 solid;
}.btn_x{
	 width:40%;
	height:29px;
    line-height:29px;
	background:#f9f9f9;
	border-radius:10px;
	border:0;
	color:#000;
	font-family:"微软雅黑";
	margin-left:40px;
  outline:none;
   	border:1px #999 solid;
}


.btn_left{
  width:40%;
	height:45px;
    line-height:45px;
	background:#2a89f3;
	border-radius:10px;
	border:0;
	color:#FFF;
	  outline:none;
   font-family:"微软雅黑";
}


.list{
	width:100%;
	height:auto;
	font-family:"微软雅黑";
	font-size:12rem;
}

.list ul{
	list-style:none;
}

.list ul li{
    overflow: hidden;
	display:block;
	width:95%;
	height:25px;
	line-height:25px;
	padding-left:5%;
}

.list ul li span{
	color:#999;
}
.list ul li.l_des span{
	color:#999;
}
.list ul li.l_des{
	height:auto;
    line-height:25px;
	background:#eee;
    padding-top: 10px;
padding-bottom: 10px;

}
 .list ul li.l_des span{
    
      height:25px;
    line-height:25px;
}




.dh{
	width:720px;
	height:auto;
}

.quan{
	width:100%; font-family:"微软雅黑";
	font-size:14rem;
}
.all1{
	margin-left: auto;
    margin-right: auto;
	width:100%;
}

.cont{
	margin-left: auto;
    margin-right: auto;
	width:98%;
	height:auto;
}

.cent{
	text-align:center;
    padding: 0px 0px 30px 0px;
    font-size: 14rem;
    color: red;
    font-weight: bold
}

.bt{
	background-color:#f0f0f0; height:30px;
	padding-left:30px;
	padding-top:10px;
	color:#666;
}

.cont ul li{
	display:block;
	height:30px;
	padding-top:12px;
	border-bottom:1px #999999 solid;
	padding-left:30px;
}

.jt{
	background:#eee;
}

#bzjDiv li{
	border:none;
}

#scjtDiv li{
	border:none;
}

.cont ul li span{
	float:right;
	padding-right:30px;
	color:#666;
}
section{
	margin-left: auto;
    margin-right: auto;
	width:95%;
	line-height:45px;
	font-family:"微软雅黑";
	font-size:14rem;
}

section p{
	line-height:40px;
}
section span{
	float:right;
}
.clear{clear:both;}
a{ text-decoration: none;color: #2a89f3}
